.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: medium;
}

.board {
  display: flex;
  height: 500px;
  width: 500px;
  border-width: 1px;
  border-color: black;
  /* align-items: center;  */
  flex-direction: column;
  border: 1px solid;
  align-self: center;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

