.title {
  display: flex;
  justify-content: center;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  width: 500px;
  border-width: 1px;
  border-color: black;
  align-items: center; 
  flex-direction: column;
  border: 1px solid;
  align-self: center;
}

.dice {
  display: flex;
  flex-direction: row; 
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.die {
  border: 1px solid;
  width: 50px;
  height: 50px;
  border-color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

#btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.players {
  display: flex;
  justify-content: space-between;
}