.title {
  display: flex;
  justify-content: center;
  font-family: 'casino 3D', sans-serif;
  font-size: 50px;
  animation: bouncey 1.25s infinite;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.board {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  width: 500px;
  border-width: 1px;
  border-color: black;
  align-items: center; 
  flex-direction: column;
  border: 1px solid;
  align-self: center;
  background-image: url(https://t4.ftcdn.net/jpg/03/25/38/41/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg);
}

.dice {
  display: flex;
  flex-direction: row; 
  width: 400px;
  justify-content: space-around;
  align-items: center;
  
}

@keyframes spin {
from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.die {
  border: 1px solid;
  width: 60px;
  height: 60px;
  border-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  animation-name: spin;
  animation-duration: 1500ms;
  background-image: url(/assets/side1.png);
  background-size: cover ;
  background-color: white;
  /* color: white; */
  }


#btn {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* display: none; */
}

.players {
  display: flex;
  justify-content: space-between;
}

.compScore {
  font-family: 'casino 3D', sans-serif;
  color: white;
  font-size: 25px;
}


.resultMessage {
  font-family: 'casino 3D', sans-serif;
  color: white;
  font-size: 25px;
}


@keyframes bouncey {
  0%,40%,100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

